@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Great+Vibes&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cinzel', serif; 
  background-color: #1c1917; 
  color: #e7e5e4; 
}

.font-readable {
  font-family: 'Roboto', sans-serif;
}