@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Genel Ayarlar */
body {
  font-family: 'Cinzel', serif;
  background-color: #1c1917; /* Stone-900 tonu */
  color: #e7e5e4; /* Stone-200 tonu  */
}